.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--white);
  color: var(--secondary-color);
  transition: .5s;
}
.navbar > .navbar__content > a > .logo {
  font-size: 25px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  text-decoration: underline;
}
.navbar > .navbar__content {
  padding: 3rem 4rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > .navbar__content > .navbar__links > li {
  display: inline-block;
}

.navbar > .navbar__content > .navbar__links > li:not(:last-of-type) {
  margin-right: 2rem;
}

.navbar > .navbar__content > .navbar__links > a {
  padding: 1rem;
  display: inline-block;
}
.navbar > .navbar__content > .navbar__links > li > a:hover {
  color: var(--tertiary-color);
}

.navbar.active {
  box-shadow: 0 0.2rem 0.5rem var(--secondary-color);
}

.navbar > .navbar__content > .navbar__mobile,
.navbar > .navbar__content > .navbar__mobile > .mobile__links{
  display: none;
}

/* Config botao dark-mode */
.checkbox {
  opacity: 0;
  position: absolute;
}

.fa-moon{
  color: hsl(52, 100%, 62%);
}
.fa-sun{
  color: hsl(52, 100%, 62%);
}

.label {
  background-color: var(--secondary-color);
  border-radius: 50px;
  cursor: pointer; 

  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 5px;
  position: relative;
  height: 25px;
  width: 45px;

  transform: scale(1.1);
}

.label .ball {
  background-color: var(--gray);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;

  height: 21px;
  width: 22px;

  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .botaoTema .label .ball {
  transform: translateX(20px);
}


@media only screen and (max-width: 768px){
  .tema {
    display: none;
  }
  .navbar > .navbar__content > .navbar__links {
    display: none;
  }
  .navbar > .navbar__content > .navbar__mobile{
    display: flex;
    align-items: center;
  }
  .navbar > .navbar__content > .navbar__mobile > img {
    width: 3.6rem;
    height: 3.6rem;
    cursor: pointer;
  }
  .navbar > .navbar__content > .navbar__mobile.active > .mobile__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    width: 100%;
    position: absolute;
    top: 98%;
    left: 0;
    padding: 1rem 0;
    box-shadow: 0 0.4rem 0.5rem rgba(0,0,0,0.1);
    z-index: -1;
  }
  .navbar > .navbar__content > .navbar__mobile.navbar__mobile.active > .mobile__links > li {
    margin-right: 0;
  }
  .navbar > .navbar__content > .navbar__mobile.active > .mobile__links > li > a {
    padding: 1rem;
    display: block;
    text-align: center;
  }

  .navbar > .navbar__content > .navbar__mobile.active > .mobile__links > li > .tema-mobile {
    height: 30px;
    width: 150px;
    background-color: var(--white);
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    color: var(--secondary-color);
  }
  
}


